In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Loading the dataset
data = pd.read_csv("Keywords.csv")
data

    UD's Action Verbs  Test Column
0            Achieved       Test 1
1             Adapted          NaN
2           Addressed          NaN
3        Administered          NaN
4             Advised          NaN
..                ...          ...
131          Traveled          NaN
132           Tutored          NaN
133          Upgraded          NaN
134          Utilized          NaN
135             Wrote          NaN

[136 rows x 2 columns]